* {
    margin: 0;
    padding: 0;
}

.mainbox {
    width: 1400px;
    height: 700px;
    background-color: rgb(211, 60, 176);
    position: relative;  
}

.sub { 
    margin: 80px;
    width: 1000px;
    height: 500px;
    position: absolute;  
   
    background-image: url("lapi_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 100px;
    padding-top: 80px;
   
}

    .form {
        width: 370px;
    height: 400px;
    /* border: 2px solid black; */
 

      
    }


     .form input {
        width: 350px;
        height: 30px;
        margin-top: 20px;
        border: 0px;
        font-size: 20px;
        padding: 10px;
    } 
    button{
        margin-top: 20px;
        border-radius: 13px;
        background-color: rgb(233, 254, 0);
         padding: 10px 50px; 
         border: 0px;
        color:white;
        font-size: 20px;
        margin-bottom: 20px;
        
    }
    .links a{
        color: yellow;
        font-size: 23px;
       
    }
    .fi {
        color: red;
        font-size: 50px;
       
    }

    .form i{
        margin-left: -50px;
    }